/*Element*/
li {

}
/*class*/
.hello {

}
/*id*/
#name {

}

/*Star*/
/* /applys to every element in the html/ */

* {
	border: 1px solid lightgrey;
}

/*Descendant Selector
slects all anchor tag that are only descendant of li */

li a {
	color: pink;
}

/*Adjacent Selector*/
/* slecting all ul that comes after h4; not indented under h4 but the same level as h4. */

h4 + ul {
	border: 4px solid red;
	color: yellow;
}


/*Attribute Selector*/
a[href="http://www.google.com"]{
	background: rgb(132, 0, 255);
}
/*nth of type*/
/* takes a number and it selects  every nth  of the number. */

ul:nth-of-type(3){
	background: rgb(17, 146, 36);
}
a:hover {
	border-bottom: 10px solid blue;
   }
