/*Element*/
li {

}
/*class*/
.hello {

}
/*id*/
#name {

}

/*Star*/
/* /applys to every element in the html/ */

* {
	border: 1px solid blue;
}

/*Descendant Selector
selects all anchor tag that are only descendant of li */

li a {
	color: rgb(218, 9, 9);
}

/*Adjacent Selector*/
/* slecting all ul (i.e what is inside of ul will be turned to the specification) 
\that comes after h4; not indented under h4 but the same level as h4. */

h4 + ul {
	border: 10px solid lightgray;
	color: yellow;
}


/*Attribute Selector*/
a[href="http://www.facebook.com"]{
	background: rgb(208, 255, 0);
}
/* a[href="http://www.google.com"]{
	background: rgb(132, 0, 255);
} */
/*nth of type*/
/* takes a number and it selects  every nth  of the number. */

ul:nth-of-type(3){
	background: purple;
}
li:nth-of-type(3){
	background: purple;
}
a:hover {
	border-bottom: 10px solid blue;
   }
